@mixin flexCenter($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

.container {
  background-color: white;
  border-radius: 17px;
  height: 465px;
  width: 430px;
  padding-top: 31px;
  padding-left: 32px;
  padding-right: 32px;
  display: grid;
  grid-template-rows: auto 3fr;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  row-gap: 18px;
  .title {
    font-weight: 500;
    font-size: 17px;
  }
  .more {
    @include flexCenter(row);
    justify-content: end;
    font-weight: 400;
    font-size: 16px;
    gap: 0.75rem;
    cursor: pointer;
  }
  .content {
    grid-column: span 2 / span 2;
    .curriculum {
      margin-left: 0.25rem;
      opacity: 50%;
    }
    .results {
      display: flex;
      flex-direction: column;
      .subject,
      .last {
        display: flex;
        flex-direction: row;
        font-size: 16px;
        font-weight: 600;
        width: 100%;
        padding-bottom: 27px;
        padding-top: 25px;
        border-bottom-width: 1.5px;
        border-color: black;
      }
      .last {
        border-bottom: 0px !important;
      }
      .positive {
        color: #5e81f4;
        margin-left: auto;
      }
      .negative {
        color: #ff808b;
        margin-left: auto;
      }
    }
  }
}
